.ourname {
    display: flex;
}
.btn-info {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    letter-spacing: -0.25px;
    color: #fff;
    margin: 0;
    background-color: var(--dish-type-color);
    padding: 0.25rem 2rem;
    border-radius: 100px;
}
.favor {
    background-color: wheat
}
.baton {
    width: 30%;
}
.extra {
    margin-top: 20px;
}
.mainImg {
    margin-left: 10px;
}
.ingImg {
    width: 100px;
    height: 100px;
}
.eqname {
    text-align: center
}
.card {
    margin-bottom: 20px;
}
.taste {
    text-decoration: none;
}